<!--
  Generated template for the PassengerDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PassengerDetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="page-section">
    	<h3>Passenger Details</h3>
      	<form [formGroup]="bookingForm" (ngSubmit)="BookNow()" #f="ngForm" novalidate>
        <ion-list class="form-section" >
            
            <ion-item>
                <ion-grid no-padding>
                    <ion-row>
                        <ion-col col-3 no-padding>
                            <h4>Seat No - </h4>
                        </ion-col>
                        <ion-col col-1 no-padding align-self-stretch *ngFor="let one of param.Passengers; let i = index;">
                            <h4 text-right >{{one.SeatNo}} <span *ngIf="i < param.Passengers.length - 1">,</span></h4>
                        </ion-col>
                    </ion-row>
                </ion-grid>               
                
            </ion-item>
            <ion-item >
                <ion-input type="text" placeholder="Name"  name="Name" formControlName="name" ></ion-input>
            </ion-item>
             <div *ngIf="f.submitted && bookingForm.controls.name.errors?.required" class="help-block">Please enter name</div>
            <ion-item >
                <ion-input type="number" placeholder="Age" name="Age"  formControlName="age"></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && bookingForm.controls.age.errors?.required" class="help-block">Please enter age</div>
            
            <ion-item >
				<ion-label>Gender</ion-label>
				<ion-select  formControlName="gender" name="Gender">
					<ion-option value="M">Male</ion-option>
					<ion-option value="F">Female</ion-option>
				</ion-select>
            </ion-item>
            <div *ngIf="f.submitted && bookingForm.controls.gender.errors?.required" class="help-block">Please select gender</div>
        </ion-list>
         
        <ion-list class="form-section">
             <ion-item>
                <ion-input type="email" placeholder="Ticket will be sent to this Email ID" name="Email" formControlName="email"></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && bookingForm.controls.email.errors?.required" class="help-block">Please enter email address</div>
             <ion-item>
                <ion-input type="tel" placeholder="Enter Phone Number" name="Phone" formControlName="mobile"></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && bookingForm.controls.mobile.errors?.required" class="help-block">Please enter mobile number</div>
        </ion-list>
        <button class="theme-btn" type="submit">continue booking</button>
      	</form>
    </div>
</ion-content>
