<!--
  Generated template for the BusSeatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bus Seat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf='noData'>
    <h3>No any data available this time</h3>
  </div>
  <div *ngIf='!noData'>
    <h2>{{layoutname}}</h2>
    <!-- Segment buttons with text -->
    <ion-segment [(ngModel)]="busArea" color="primary">
      <ion-segment-button value="lower" (ionSelect)="lowerBus()">
        Lower
      </ion-segment-button>
      <ion-segment-button value="uper" (ionSelect)="uperBus()" *ngIf='isUper'>
        Upper
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="totalFare">
      <p>Total Amount :{{totalFare}}</p>
      <p>Tax :{{totalTax}}</p>
      <button ion-button (click)="Procced()">Procced</button>
    </div>
    <div class="page-section" *ngIf='busArea == "lower"'>
      <h3>Please select a seat</h3>
      <div class="saet-layout" >
        <ul  >
          <li class="seat-row" *ngFor='let row of range(0,MaxLowerRow-1)' >
            <ul >
              <li class="seat" *ngFor='let column of range(1,MaxLowerColumn)'>
                <p class="Not_Avail number">{{row*MaxLowerColumn+column}} </p>
                <ion-checkbox ></ion-checkbox>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
    <div class="page-section" *ngIf='busArea == "uper"'>
      <h3>Please select a seat</h3>
      <div class="saet-layout">
        <ul>
          <li class="seat-row" *ngFor='let uper of uper'>
            <ul>
              <li class="seat" >
                <p class="number">{{uper[0]+1}}</p>
                <ion-checkbox [class]='uper[6]' (ionChange)='selectSeat(uper[0]+1,$event,uper[7])'></ion-checkbox>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>

    <!-- <div class="saet-layout">
			<ul>
				<li class="seat-row" *ngFor='let lower of lower'>
					{{lower}}
					<ul>
						<li class="seat">
							<p class="number">1</p>
							<ion-checkbox></ion-checkbox>
						</li>
						<li class="seat">
							<p class="number">2</p>
							<ion-checkbox></ion-checkbox>
						</li>
						<li class="seat">
							<p class="number">3</p>
							<ion-checkbox></ion-checkbox>
						</li>
						<li class="seat">
							<p class="number">4</p>
							<ion-checkbox></ion-checkbox>
						</li>
					</ul>
				</li>
				<li class="seat-row">
					<ul>
						<li class="seat">
							<p class="number">8</p>
							<ion-checkbox></ion-checkbox>
						</li>
						<li class="seat">
							<p class="number">7</p>
							<ion-checkbox></ion-checkbox>
						</li>
						<li class="seat">
							<p class="number">6</p>
							<ion-checkbox></ion-checkbox>
						</li>
						<li class="seat">
							<p class="number">5</p>
							<ion-checkbox></ion-checkbox>
						</li>
					</ul>
				</li>
				<li class="seat-row">
					<ul>
						<li class="seat">
							<p class="number">9</p>
							<ion-checkbox></ion-checkbox>
						</li>
						<li class="seat">
							<p class="number">10</p>
							<ion-checkbox></ion-checkbox>
						</li>
						<li class="seat">
							<p class="number">11</p>
							<ion-checkbox></ion-checkbox>
						</li>
						<li class="seat">
							<p class="number">12</p>
							<ion-checkbox></ion-checkbox>
						</li>
					</ul>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div> -->
  </div>

</ion-content>
