page-list {
  .page-section {
    padding: 15px 0px;
  }
  h3 {
    margin: 15px 0px 30px;
    font-size: 20px;
    line-height: 28px;
    color: $theme-color;
    text-align: center;
  }
  .Avail_female {
    background: pink !important
  }
  .Avail_male {
    background: blue !important
  }
  .Avail {
    background: none !important
  }
  .Not_Avail {
    background: red !important
  }
}
