<!--
  Generated template for the BusListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title>Bus List</ion-title>
    <button ion-button class="right-btn" >
      <ion-icon name="funnel" (click)="openfilter()"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="title-block">
		<p *ngIf="mainList[0].FromName != ''">{{mainList[0].FromName}}</p>
		<p *ngIf="mainList[0].FromCityName != ''">{{mainList[0].FromCityName}}</p>
		<!--<p>{{mainList[0].FromName}}</p>-->
		<ion-icon name="md-arrow-round-forward"></ion-icon>
		<p *ngIf="mainList[0].ToName != ''">{{mainList[0].ToName}}</p>
		<p *ngIf="mainList[0].ToCityName != ''">{{mainList[0].ToCityName}}</p>
	</div>
	<div class="title-block date-block">
		<ion-icon name="arrow-back"></ion-icon>
		<p>{{changeFormate(mainList.JourneyDate,'DD MMM YYYY')}}</p>
		<ion-icon name="arrow-forward"></ion-icon>
	</div>

	<div *ngIf="buslist.length != 0">
	<ion-card *ngFor='let one of buslist'>
		<ion-card-content (click)='Bookseat(one.BusStatus.RouteBusId,one)'>
			<ion-grid no-padding>
				<ion-row align-items-center >
					<ion-col col-8>
						<div class="info-block">
							<h3 *ngIf="one.ArrTime != ''">{{changeFormate(one.ArrTime,'LT')}} - <span>{{changeFormate(one.DeptTime,'LT')}}</span></h3>
							<!--<h3 *ngIf="one.ArrTime != ''">{{changeFormate(one.ArrTime,'LT')}} - <span>{{changeFormate(one.DeptTime,'LT')}}</span></h3>-->
							<p>{{one.CompanyName}}</p>
							<p *ngIf="one.BusType != undefined">{{one.BusType.IsAC}}</p>
							<p *ngIf="one.BusType == undefined">{{one.BusTypeName}}</p>
						</div>
					</ion-col>
					<ion-col col-4 class="seat-block">
						<p *ngIf="one.BusStatus != undefined">{{one.BusStatus.Availability}} seat</p>
						<p *ngIf="one.BusStatus == undefined">{{one.EmptySeats}} seat</p>
						<h3 *ngIf="one.BusStatus != undefined">INR {{one.BusStatus.BaseFares[0]}}</h3>
						<h3 *ngIf="one.BusStatus == undefined">INR {{one.AcSeatRate}}</h3>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	</div>
	<div *ngIf="buslist.length == 0">
		<ion-card-content>
			<ion-grid no-padding>
				<ion-row align-items-center >
					<h3>No data match to your filter</h3>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</div>
	<!--<ion-card>
		<ion-card-content>
			<ion-grid no-padding>
				<ion-row align-items-center>
					<ion-col col-8>
						<div class="info-block">
							<h3>09:00 AM - <span>01:00 PM</span></h3>
							<p>CMS</p>
							<p>AC</p>
						</div>
					</ion-col>
					<ion-col col-4 class="seat-block">
						<p>20 seat</p>
						<h3>INR 2000</h3>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>-->

	<!--<ion-card>
		<ion-card-content>
			<ion-grid no-padding>
				<ion-row align-items-center>
					<ion-col col-8>
						<div class="info-block">
							<h3>09:00 AM - <span>01:00 PM</span></h3>
							<p>CMS</p>
							<p>AC</p>
						</div>
					</ion-col>
					<ion-col col-4 class="seat-block">
						<p>20 seat</p>
						<h3>INR 2000</h3>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>-->
</ion-content>
